.text-center{
    text-align: center;
}

.mx-auto{
    margin:auto;
}

.flex{
    display:flex;
    justify-content:center;
    align-items:center;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items:center;
}
.btn-0{
    width:100px;
    background-color:#979aaa;
}
.btn-AC{
    background-color:#979aaa;
}
.btn-C{
    background-color:#979aaa;
}